/* Global Styles */

html,
body {
    height: 100%;
}

body {
    font-family: adobe-garamond-pro;
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url('../images/background/old_map/old_map.png');
}

p {
    line-height: 1.6;
    font-size: 1.6em;
    color: #5a4130; 
}

#logo {
    float: left;
    height: 45px;
    margin-top: 2px;
}

.jumbotron {
    background: url('../images/general/P6191146.jpg') no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 1.1em;
    height: 400px;
    background-size: cover;
}

.navbar {
    background-image: url('../images/background/old_map/old_map.png');
}



.navbar-inverse .navbar-brand {
    color: #213fd9;
    font-size: 1.8em;
}

.navbar-inverse .navbar-header>a:hover {
    color: red;
}

.navbar-inverse .navbar-nav>li>a {
   color: #5a4130; 
   font-size: 1.4em;
   display: inline-block;
}

.navbar-inverse .navbar-nav>li>a:hover{
  background-color: none;
  text-decoration: none;
  color: red;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #5a4130;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

.page-header {
    text-align: center;
     color: #5a4130; 
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media(min-width:768px) {
    .navbar>.container .navbar-brand {
        margin-left: 0px;
    }
}

@media(max-width:490px) {
    .navbar-inverse .navbar-brand {
        font-size: 1.5em;
    }
}

@media(max-width:437px) {
    .navbar-inverse .navbar-brand {
        font-size: 1.3em;
    }
}

@media(max-width:402px) {
    .navbar-inverse .navbar-brand {
        font-size: 1.0em;
    }
}
